@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header h1{
    width: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-left: 160px;
    font-family: 'Dancing Script', cursive;
}
header h1::first-letter{
    color: #fc5f45;
}
nav ul{
    margin-top: -47px;
    margin-right: 190px;
    width: 700px;
    float: right;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav .clear{
    clear: right;
}
.menu{
    display: none;
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}
.menu>div{
    width: 30px;
    height: 5px;
    background-color: #000;
    margin-bottom: 2px;
}
.main{
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 570px;
    display: flex;
    justify-content: center;
}
.content{
    font-family: 'Libre Baskerville', serif;
}
.content p:first-child{
    padding-top:  121px;
    font-size: 60px;
    text-align: center;
}
.main button{
    width: 180px;
    height: 50px;
    border-radius: 42%;
    margin:48px 0px 50px 300px;
    background-color: #fc5f45;
    border: 0px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.for_blocks{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
.block{
    width: 210px;
    height: 105px;
}
.block p{
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
}
.block img{
    padding-top: 10px;
    padding-left: 80px;
}
.about_content{
    display: flex;
    width: 70%;
    margin: 0px auto;
}
.about_content h1{
    text-transform: capitalize;
    font-size: 40px;
    padding-bottom: 30px;
}
.about_content img{
    width: 500px;
   min-height: 200px;
    margin-top: 150px;
    border: 7px solid #cccccc;
    margin-bottom: 180px;
}
.about_content>div{
    height: auto;
    margin-left: -50px;
    z-index: 1;
    background-color: #fff;
    margin-top: 200px;
    margin-bottom: 143px;
    padding: 35px 80px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
}
.about_content p{
    color: #6f6f6f;
    text-indent: 1em;
    text-align: justify;
}
#focus, #team{
    background-color: #f7f7f7;
}
.focus_content, .team_content{
    margin: 0 auto;
    
}
.focus_content>p:first-child, .portfolio_content>h1, .team_content>p:first-child{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 35px;
    text-align: center;
    text-transform: capitalize;
}
.focus_content>p:nth-child(2), .portfolio_content>p, .team_content>p:nth-child(2){
    font-size: 18px;
    text-align: center;
    padding-bottom: 70px;
}
.focus_blocks, .team_blocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.focus_blocks>div, .team_blocks>div{
    width: 240px;
    height: 340px;
    background-color: #fff;
    margin-right: 28px;
    margin-bottom: 150px;
    padding: 68px 10px 0px 10px;
    text-align: center;
}
.focus_blocks>div:last-child, .team_blocks>div:last-child{
    margin-right: 0px;
    border-bottom: 3px solid #feb960;
}
.focus_blocks>div:first-child, .team_blocks>div:first-child{
     border-bottom: 3px solid #fc5f45;
}
.focus_blocks>div:nth-child(2), .team_blocks>div:nth-child(2){
     border-bottom: 3px solid #38c695;
}
.focus_blocks>div:nth-child(3), .team_blocks>div:nth-child(3){
     border-bottom: 3px solid #b27cf5;
}
.heading{
    font-size: 20px;
    font-weight: bold;
    padding: 34px 10px 31px 10px;
}
#video{
    height: 300px;
    background-color: #3f4049;
}
.video_content{
    margin: 0 auto;
}
.video_content p{
    color:#fff;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}
.portfolio_blocks{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 140px;
}
.example{
    width: 270px;
    height: 200px;
    background-color: firebrick;
    margin-right: 20px;
    margin-bottom: 20px;
}
.example{
    background-image: url(img/phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.team_blocks>div img{
   width: 200px;
    height: 200px;
}





@media screen and (min-width:768px) and (max-width:1130px){
    nav ul{
    margin-top: -55px;
    margin-right: 10px;
    width: 500px;
    flex-wrap: wrap;
}
    nav li{
        margin-right: 10px;
    }
    header h1{
    padding-bottom: 15px;
    margin-left: 100px;
}
    .content p:first-child{
        padding-top: 100px;
        font-size: 50px;
    }
    .main{
        height: 500px;
    }
.main button{
    margin:40px 0px 30px 270px;
}
    .block{
    width: 180px;
}
    .block img{
    padding-left: 70px;
}
    .content{
        width: 80%;
    }
    .about_content img{
        min-width: 400px;
         margin-top: 100px;
    }
    .about_content>div{
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 35px 40px;
}
    .about_content{
    width: 80%;
}
}
@media screen and (min-width:520px) and (max-width:767px){
    header h1{
        margin-left: 40px;
        padding-bottom: 20px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .content p:first-child{
        padding-top: 70px;
        font-size: 35px;
    }
    .main{
        height: 400px;
    }
.main button{
    margin:40px 0px 30px 170px;
}
    .block{
    width: 160px;
}
    .block img{
    padding-left: 50px;
}
    .about_content{
    flex-direction: column;
    width: 70%;
}
.about_content img{
    max-width: 400px;
    margin-top: 80px;
    margin-bottom: 0px;
}
.about_content>div{
    margin-left: 50px;
    margin-top: -50px;
    margin-bottom: 80px;
    padding: 20px 50px;
}
}
@media screen and  (min-width:320px) and (max-width:520px){
     header h1{
        margin-left: 70px;
        padding-bottom: 20px;
    }
     nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .content p:first-child{
        padding-top: 60px;
        font-size: 30px;
    }
    .main{
        height: 650px;
    }
.main button{
    margin:20px 0px 30px 100px;
}
    .for_blocks{
        align-items: center;
        flex-direction: column;
        background-color: transparent;
    }
    .block{
        width: 150px;
        background-color: antiquewhite;
        margin-bottom: 10px;
    }
    .block img{
    padding-left: 60px;
}
    .about_content{
    flex-direction: column;
    width: 80%;
}
.about_content img{
    max-width: 260px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.about_content>div{
    margin-left: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
    padding: 20px 40px;
}
.focus_content>p:first-child, .team_content>p:first-child{
    font-size: 35px;
    padding-top: 130px;
    padding-bottom: 25px;
}
    .focus_blocks, .team_blocks{
        flex-direction: column;
        align-items: center;
    }
.focus_blocks>div, .team_blocks>div{
    width: 200px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 68px 10px 0px 10px;
}
}










